/* # Shared components (buttons.css, nav.css, footer.css) ===================*/

/* HEADER ===================*/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--beige-soft);
  padding: 5px 5px;
  
}
.outter-header {
  display: flex;
  gap: 5px;
  padding: 5px 5px;
  font-size: 13px;
  font-weight: 400;
  color: var(--text-body);
}
.outter-header img {
  height: 20px;
}
.inner-header {
  display: flex;

  justify-content: start;
  gap: 5px;
  padding: 5px 5px;
  color: var(--text-body);
  font-size: 13px;
  font-weight: 400;
 
}
.inner-header-item {
  display: flex;
}
.inner-header-item img {
  margin: 5px 5px;
  height: 20px;
}

/* NAVBAR ===================*/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-warm);
  padding: 5px 5px;
  box-shadow: 1px 0px 2px var(--text-body);
}
.logo-navbar img {
  height: 70px;
}

.inner-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap:35px;

  padding: 10px 10px;
}

.inner-nav-item a {
  color: var(--text-body);
  font-weight: 600;
}
.inner-nav-item img {
  height: 20px;
}
.logo > img {
  height: 50px;
  width: 100px;

}

.active-page a {
  color: var(--button-primary);
}

/* BUTTONS ===================*/
.btn-style button {
  padding: 15px 15px;
  border-radius: 10px;

  font-weight: 700;
  background-color: var(--button-primary);
  color: var(--button-text);
  border-style: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

}
.btn-style button:hover {
  box-shadow: 3px 0px 6px var(--text-body);
  transform: scale(1.1);
}

.button-flex {
  display: flex;
  gap: 5px;
}

/* FOOTER ===================*/

.footer {
  display: flex;
  justify-content: end;
  padding: 15px 15px;
  gap: 5px;
  background-color: var(--beige-soft);
}
.footer-list {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

.footer-list-item h2 {
  color: var(--golden-color);
  font-weight: 600;
}
.footer-list-item li {
  margin: 10px 5px;
  font-weight: 700;
  color: var(--text-body);
}
.footer-list-item a {
  font-weight: 600;
  color: var(--text-body);
}
.logo-footer > img {
  height: 120px;
}

.footer-icons {
  display: flex;
  gap: 10px;
}
.footer-icons img {
  height: 30px;
  transition: transform 0.5s ease-in-out;
}
.footer-icons img:hover {
  height: 30px;
  transform: scale(1.5);
  box-shadow: 3px 0px 6px var(--bg-light);
  border-radius: 50%;
}

#menu__toggle {
  position: absolute;
  left: -9999px; /* moves horizontal navbar off-screen */
}


/* MEDIA QUERY ===================*/

@media (max-width: 970px) {

   .logo-navbar img {
    width: 100%;
  }

  .inner-nav-item {
    text-align: center;
    margin-bottom: 30px;
  }


  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .inner-nav {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    margin: 75px 5px;
    cursor: pointer;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--button-primary);
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  #menu__toggle {
    opacity: 0;
  }
  .inner-nav {
    flex-direction: column;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 225px;
    height: 100%;
    margin: 0;
    padding: 80px 15px;
    background-color: rgb(23, 22, 22);
    opacity: 0.9;
    box-shadow: 1px 0px 6px var(--button-primary);
    transition-duration: 0.55s;
    z-index: 1;
  }
  .logo-footer img {
    width: 50%;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
  }
}
